/* === Tailwind directivas === */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Tus estilos personalizados === */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: 'Alexandria', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

/* Breakpoints */
//mobile → 0 - 480px
$bp-mobile: 480px;

//tablet → 481 - 1023px
$bp-tablet: 1023px;

//laptop → 1024 - 1279px
$bp-laptop: 1279px;

//desktop → 1280 - 1920 o mas
$bp-desktop: 1280px;

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: 'Alexandria', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 3.812rem;
  margin: 0;

  //   @media (max-width: $bp-mobile) {
  //     font-size: 2.1rem;
  //   }
}

h2 {
  font-size: 3.062rem;
  margin: 0;
}

h3 {
  font-size: 2.438rem;
  margin: 0;
}

h4 {
  font-size: 1.938rem;
  margin: 0;
}

h5 {
  font-size: 1.562rem;
  margin: 0;
}

h6 {
  font-size: 1.25rem;
  margin: 0;
}

.regularSize {
  font-size: 1rem;
  margin: 0;
}

.smallSize {
  font-size: 0.812rem;
  margin: 0;
}

.superSmallSize {
  font-size: 0.625rem;
  margin: 0;
}

.bold {
  font-weight: 700;
}

:root {
  --color-primary: #f9b42f;
}

.p-button {
  background-color: var(--color-primary) !important; /* color de fondo */
  border-color: var(--color-primary) !important; /* color del borde */
  border-radius: 8px;
  color: white !important;
  gap: 0;

  .p-button-label {
    font-size: 1rem;
  }
}

.p-button:hover {
  background-color: white !important;
  border-color: black !important;
  .p-button-label {
    color: black;
  }
  .p-button-icon {
    color: black;
  }
}

.p-inputtext:focus {
  border-color: var(--color-primary) !important; /* color del borde al enfocar */
}

// .p-select:focus {
//   border-color: var(--color-primary) !important; /* color del borde al enfocar */
// }

.p-textarea:focus {
  border-color: var(--color-primary) !important; /* color del borde al enfocar */
}

.p-toast {
  @media (max-width: $bp-mobile) {
    width: calc(100% - 2rem) !important;
    height: auto;
    right: 0 !important;
    left: 0 !important;
    top: 1rem !important;
    margin: 0 1rem;
  }
}

.p-menubar {
  display: flex;
  justify-content: space-between;
  border: none !important;
  background: #000 !important;
  border-radius: 1.5rem !important;
  padding: 0.65rem 4rem !important;

  .p-menubar-end {
    margin: 0;
  }
}

.p-card-body {
  padding: 1.25rem !important;
  gap: 0.625rem !important;
}

.p-dialog.filterDialog {
  width: calc(100% - 2rem);
  height: auto;
  display: flex;
  gap: 1rem;
  padding: 1rem;

  .p-dialog-header {
    padding: 0;
    .p-dialog-close-button {
      // width: 2rem;
      // height: 2rem;
    }
  }

  .p-dialog-content {
    // background-color: #ffb319;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;

    .grp1 {
      display: flex;
      gap: 2rem;
    }

    .standardContainer {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .optionsContainer {
        padding: 0 1rem;

        .option {
          display: flex;
          gap: 0.5rem;
        }
      }
    }

    .filterActions {
      width: 100%;
      display: flex;
      gap: 0.5rem;
    }
  }
}

.p-dialog.actionsDialog {
  width: calc(100% - 2rem);
  height: auto;
  display: flex;
  gap: 1rem;
  padding: 1rem;

  @media (min-width: $bp-tablet) {
    width: 40%;
  }

  .p-dialog-header {
    padding: 0;
    .p-dialog-close-button {
      // width: 2rem;
      // height: 2rem;
    }
  }

  .p-dialog-content {
    // background-color: #ffb319;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;

    .optionsContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.p-dialog.confirmDialog {
  width: calc(100% - 2rem);
  height: auto;
  display: flex;
  gap: 1rem;
  padding: 1rem;

  @media (min-width: $bp-tablet) {
    width: 40%;
  }

  .p-dialog-header {
    padding: 0;
    .p-dialog-close-button {
      // width: 2rem;
      // height: 2rem;
    }
  }

  .p-dialog-content {
    // background-color: #ffb319;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;

    .optionsContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.paginatorContainer {
  width: 100%;
  height: auto;

  .p-paginator-page-selected {
    background-color: #f9b42f !important;
    color: #fff !important;
  }
}

.primary {
  background-color: var(--color-primary) !important;
  color: white !important;
}

.secondary {
  background-color: white !important;
  color: black !important;
  border-color: black !important;
}

.thirty {
  background-color: black !important;
  color: white !important;
}

.success {
  background-color: #22c55e !important;
  color: white !important;
  border-color: rgb(0, 255, 0) !important;
}

.danger {
  background-color: #ef4444 !important;
  color: white !important;
  border-color: rgb(255, 0, 0) !important;
}

.viewpageSystem {
  width: auto;
  height: auto;
  margin: 0 1rem;
  position: relative;

  @media (min-width: $bp-tablet) {
    height: 100vh;
    margin: 0 1rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2rem;
    position: relative;
  }
}

.viewpage {
  width: auto;
  height: auto;
  margin: 0 1rem;
  position: relative;

  @media (min-width: $bp-tablet) {
    // width: 100%;
    height: 100%;
    margin: 0 7.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    position: relative;
  }
}

.sectionNavbarPhone {
  width: calc(100% - 2rem);
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  z-index: 4;
  margin-bottom: 0.5rem;

  .containerNavbarPhone {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.75rem;
    gap: 1.5rem;
    background-color: #000;
    border-radius: 2rem;

    .containerIcon {
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-black);
      border: solid 1px var(--color-primary);
      border-radius: 2rem;
      padding: 0.5rem;
      cursor: pointer;

      .icon-image {
        width: 2rem;
        height: 2rem;
        filter: brightness(0) saturate(100%) invert(68%) sepia(76%) saturate(1855%) hue-rotate(8deg)
          brightness(101%) contrast(96%);
      }
    }

    .containerIcon.active {
      width: auto;
      height: auto;
      display: flex;
      justify-items: center;
      align-items: center;
      background-color: var(--color-primary);
      border: solid 1px var(--color-primary);
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      gap: 0.625rem;
      transition: all 0.1s ease-in-out;

      label {
        font-family: 'Alexandria', sans-serif;
        font-size: 1rem;
        color: var(--color-white);
      }

      .icon-image {
        width: 2rem;
        height: 2rem;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(0deg)
          brightness(100%) contrast(100%);
      }
    }
  }
}

.sectionNavbarPhoneSystem {
  width: calc(100% - 2rem);
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  z-index: 4;

  .containerNavbarPhone {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 0.5rem;
    background-color: #000;
    border-radius: 1rem;

    .containerIcon {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--color-black);
      // border: solid 1px var(--color-primary);
      border-radius: 2rem;
      padding: 0.5rem;
      cursor: pointer;
      gap: 0.25rem;

      .icon-image {
        width: 2rem;
        height: 2rem;
        filter: brightness(0) saturate(100%) invert(100%) saturate(1855%) hue-rotate(8deg)
          brightness(101%) contrast(96%);
      }

      label {
        font-size: 1rem;
        color: white;
      }
    }

    .containerIcon.active {
      // width: auto;
      // height: auto;
      display: flex;
      justify-items: center;
      align-items: center;
      // background-color: var(--color-primary);
      // border: solid 1px var(--color-primary);
      border-radius: 2rem;
      // padding: 0.5rem 1rem;
      // gap: 0.625rem;
      transition: all 0.1s ease-in-out;

      label {
        font-family: 'Alexandria', sans-serif;
        font-size: 1rem;
        color: var(--color-primary) !important;
      }

      .icon-image {
        width: 2rem;
        height: 2rem;
        filter: brightness(0) saturate(100%) invert(68%) sepia(76%) saturate(1855%) hue-rotate(8deg)
          brightness(101%) contrast(96%);
      }
    }
  }
}

.sectionSideBarSystem {
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #000;
  position: fixed;
  z-index: 2;
  left: 0;

  .containerSideBar {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: start;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    gap: 0.5rem;
    border-radius: 1rem;
    gap: 1rem;

    .logo {
      width: 100%;
      height: auto;
      color: white;
      padding: 1rem;
      text-align: center;
    }

    .options {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      margin: 0;
      gap: 1rem;
      padding: 1rem 0;

      .containerIconSidebar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        padding: 0.5rem;
        cursor: pointer;
        gap: 0.5rem;

        .icon-image {
          width: 2rem;
          height: 2rem;
          filter: brightness(0) saturate(100%) invert(100%) saturate(1855%) hue-rotate(8deg)
            brightness(101%) contrast(96%);
        }

        label {
          color: white;
        }
      }

      .containerIconSidebar.active {
        display: flex;
        justify-items: center;
        align-items: center;
        border-left: solid 0.25rem var(--color-primary);
        padding-left: 0.25rem;
        transition: all 0.1s ease-in-out;

        label {
          color: var(--color-primary);
        }

        .icon-image {
          width: 2rem;
          height: 2rem;
          filter: brightness(0) saturate(100%) invert(68%) sepia(76%) saturate(1855%)
            hue-rotate(8deg) brightness(101%) contrast(96%);
        }
      }
    }

    .bottomSide {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      .containerExit {
        width: 100%;
        height: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: white;
        gap: 1rem;

        .icon-image {
          width: 2rem;
          height: 2rem;
          color: white;
        }
      }

      .line {
        width: 100%;
        height: 0.25rem;
        background-color: var(--color-primary);
      }

      .messageWelcome {
        width: 100%;
        height: auto;
        padding: 1rem;
        text-align: center;
        color: var(--color-primary);
      }
    }
  }
}

.sectionNavbar {
  width: calc(100% - 2rem);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: 0.5rem 0;
  top: 0;
  z-index: 4;

  .containerNavbar {
    width: 100%;
    height: auto;

    .containerLogin {
      width: auto;
      height: auto;
      display: flex;
      justify-items: center;
      align-self: center;
      gap: 0.5rem;
      cursor: pointer;

      i {
        display: flex;
        align-items: center;
      }
    }
  }
}

.sectionHeaderPhoneSystem {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  padding: 1.5rem 0;
  background: white;
  border-bottom: solid 1px black;

  @media (prefers-color-scheme: dark) {
    background: #121212;
  }

  .containerHeaderPhone {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    gap: 1.5rem;
    align-items: center;

    .icon-image {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      transition: all 0.3s ease;

      @media (prefers-color-scheme: dark) {
        filter: brightness(0) saturate(100%) invert(68%) sepia(76%) saturate(1855%) hue-rotate(8deg)
          brightness(101%) contrast(96%);
      }

      &:hover {
        opacity: 0.7;
      }
    }

    .back-icon {
      font-size: 1.5rem;
      color: black;
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (prefers-color-scheme: dark) {
        color: var(--color-primary);
      }

      &:hover {
        color: #d4951f;
        transform: translateX(-2px);
      }

      &:active {
        transform: translateX(-1px);
      }
    }
  }
}

.sectionHeaderDesktopSystem {
  width: calc(90% - 3rem);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  padding: 1.5rem 0;
  margin-right: 1rem;
  background: white;
  border-bottom: solid 1px black;

  @media (prefers-color-scheme: dark) {
    background: #121212;
  }

  .containerHeaderDesktop {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: center;

    // .icon-image {
    //   height: 2rem;
    //   cursor: pointer;
    //   transition: all 0.3s ease;

    //   &:hover {
    //     opacity: 0.7;
    //   }
    // }

    h5 {
      text-align: center;
    }

    .back-icon {
      font-size: 1.5rem;
      color: black;
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: start;

      @media (prefers-color-scheme: dark) {
        color: var(--color-primary);
      }

      &:hover {
        color: #d4951f;
        transform: translateX(-2px);
      }

      &:active {
        transform: translateX(-1px);
      }
    }
  }
}

.pageSystem {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  // overflow: hidden;

  @media (min-width: $bp-tablet) {
    width: calc(90% - 2rem);
    right: 0;
  }
}

.page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  // overflow: hidden;

  @media (min-width: $bp-tablet) {
    height: auto;
    // width: calc(90% - 2rem);
    // right: 0;
  }
}

.sectionLogin {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    @media (min-width: $bp-tablet) {
      width: 50%;
    }

    .title {
      width: 100%;
      height: auto;
      text-align: center;
    }

    .form {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      .inputBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.625rem;

        .p-inputtext:focus {
          box-shadow: 0 0 10px var(--color-primary);
        }
      }

      @media (prefers-color-scheme: dark) {
        .p-button-label {
          color: black !important;
        }
      }
    }
  }
}

.sectionDashboard {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 5rem;

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .title {
      width: 100%;
      height: auto;
    }

    .containerStats {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 0.75rem;

      .double {
        grid-column: span 2;
      }
    }

    .containerQuickActions {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      .actions {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.625rem;
      }
    }
  }
}

.sectionCatalog {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;

  @media (min-width: $bp-tablet) {
    height: auto;
    align-items: start;
    margin-bottom: 1.5rem;
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;

    @media (min-width: $bp-tablet) {
      margin-bottom: 1.5rem;
    }

    .containerNavigation {
      width: 100%;
      height: auto;
      display: flex;
      gap: 0.5rem;

      @media (min-width: $bp-mobile) {
        .p-iconfield {
          width: 100%;
        }
      }

      .p-inputtext {
        width: 100%;
        height: 100%;
      }

      .p-button {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem !important;

        .p-button-icon {
          font-size: 1.5rem;
        }
      }
    }

    .containerCards {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.75rem;

      @media (min-width: $bp-tablet) {
        grid-template-columns: repeat(4, 1fr);
      }

      .cardCatalog {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-size: cover;
        background-position: center;
        padding: 0.5rem 0.5rem 1rem 1rem;
        cursor: pointer;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, #0000 50%, #000 100%);
          z-index: 1;
          border-radius: 12px;
        }

        .image {
          width: 100%;
          height: 100%;
          border-radius: 0.5rem;
        }

        .p-card-body {
          width: 100%;
          padding: 0 !important;
          gap: 0 !important;

          .title {
            position: relative;
            color: white;
            z-index: 2;
          }
        }
      }
    }
  }
}

.sectionDogNew {
  width: 100%;
  height: 100%;
  display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;

  @media (min-width: $bp-tablet) {
    height: auto;
    width: 80%;
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    @media (min-width: $bp-tablet) {
      margin-bottom: 1.5rem;
    }

    .content {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .form {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;

        .double {
          grid-column: span 2;
        }

        .containerOptions {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .options {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;

            .checkboxes {
              display: flex;
              gap: 0.5rem;
            }
          }
        }
      }

      .space {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      .containerPhoto {
      }

      .actions {
        width: 100%;
        height: auto;
        display: flex;
        gap: 0.75rem;

        .p-button {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.p-progressbar {
  display: none !important;
}

.p-fileupload-file {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 !important;

  // .p-progressbar {
  //   display: none !important;
  // }

  .p-fileupload-file-badge {
    display: none;
  }

  .p-fileupload-file-thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-position: center;
    border-radius: 8px;

    @media (min-width: $bp-tablet) {
      width: 50%;
    }
  }

  .p-fileupload-file-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .p-fileupload-file-name {
      width: 100%;
      height: auto;
      font-size: 1.25rem;
      font-weight: bold;
      overflow: hidden;
      text-align: center;
      word-wrap: break-word;
      white-space: normal;
    }
  }

  .p-fileupload-file-actions {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    padding: 0.5rem;

    .p-button {
      background-color: red !important;
      border-color: red !important;
    }
  }
}

.p-select.p-focus {
  border-color: var(--color-primary) !important; /* color del borde al enfocar */
}

.p-select-option-selected {
  background-color: var(--color-primary) !important;
  color: #000 !important;
}

.p-radiobutton-checked {
  .p-radiobutton-box {
    border-color: var(--color-primary) !important;
    background: var(--color-primary) !important;
  }
}

.p-toggleswitch-checked {
  .p-toggleswitch-slider {
    background: var(--color-primary) !important;
  }
}

.sectionApplicantsDashboard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;

  @media (min-width: $bp-tablet) {
    height: auto;
    align-items: start;
    margin-bottom: 0;
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;

    @media (min-width: $bp-tablet) {
      margin-bottom: 1.5rem;
    }

    .button-header {
      border-color: #000 !important;
      padding: 0.75rem 1rem !important;
      .p-button-label {
        width: 100% !important;
        text-align: start;
      }
    }

    .cardStat {
      width: 100%;
      height: auto;
    }

    .containerNavigation {
      width: 100%;
      height: auto;
      display: flex;
      gap: 0.5rem;

      @media (min-width: $bp-tablet) {
        .p-iconfield {
          width: 100%;
        }
      }

      .p-inputtext {
        width: 100%;
        height: 100%;
      }

      .p-button {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem !important;

        .p-button-icon {
          font-size: 1.5rem;
        }
      }
    }

    .containerCards {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.75rem;
      // margin-bottom: 1rem;

      @media (min-width: $bp-mobile) and (max-width: $bp-tablet) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (min-width: $bp-tablet) {
        grid-template-columns: repeat(4, 1fr);
      }

      .cardCatalog {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-size: cover;
        background-position: center;
        padding: 0.5rem 0.5rem 1rem 1rem;
        cursor: pointer;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, #0000 50%, #000 100%);
          z-index: 1;
          border-radius: 12px;
        }

        .image {
          width: 100%;
          height: 100%;
          border-radius: 0.5rem;
        }

        .p-card-header {
          width: 100%;
          display: flex;
          justify-content: end;
        }

        .p-card-body {
          width: 100%;
          padding: 0 !important;
          gap: 0 !important;

          .title {
            position: relative;
            color: white;
            z-index: 2;
          }
        }
      }
    }
  }
}

.sectionDogApplicantsList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 6rem;
  margin-bottom: 5rem;

  @media (min-width: $bp-mobile) {
    // height: calc(100% - 6rem);
    height: 100vh;
    margin-bottom: 6rem;
  }

  @media (min-width: $bp-tablet) {
    height: calc(100% - 7rem);
    margin-bottom: 1rem;
    // overflow: hidden;
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .title {
      width: 100%;
      height: auto;
      text-align: center;
      justify-items: center;
    }

    @media (min-width: $bp-mobile) {
      height: 100%;
      // height: fit-content;
      justify-content: start;
      overflow-y: hidden;
    }

    .content {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      @media (min-width: $bp-mobile) {
        // height: calc(100% - 5rem);
        flex-direction: row;
        align-items: start;
        overflow-y: hidden;
      }

      .image {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        background-size: cover;
        background-position: center;

        @media (min-width: $bp-mobile) {
          // width: calc(100% - 23%);
          width: 50%;
          height: 100%;
          aspect-ratio: none;
        }
      }

      .containerListApplicants {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        @media (min-width: $bp-mobile) {
          width: 50%;
          height: 100%;
          justify-content: start !important;
          justify-items: start !important;
          align-items: start !important;
          align-content: start !important;
          overflow-y: scroll;
        }

        .subtitle {
          width: 100%;
          height: 100%;
          // overflow: hidden;

          @media (min-width: $bp-tablet) {
            height: auto;
          }
        }

        .containerApplicants {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 1.25rem;
          margin-bottom: 5rem;

          @media (min-width: $bp-tablet) {
            height: 100%;
            margin-bottom: 0;
            justify-content: start;
            align-items: start;
            align-content: start;
            overflow: scroll;
            overflow-x: hidden;
          }

          .cardApplicant {
            width: 100%;
            height: auto;
            border-left: solid 0.75rem var(--color-primary);
            padding: 0.5rem 0.75rem;

            .p-card-body {
              width: 100%;
              height: auto;
              padding: 0 !important;
              gap: 0 !important;
              position: relative;

              .p-card-content {
                width: auto;
                height: 100%;
                align-content: center;
                position: absolute;
                top: 0;
                right: 0;
              }
            }
          }

          // Estados de las solicitudes - colores del border-left

          // .state-pending {
          //   border-left-color: var(--color-principal); // Amarillo - Pendiente
          // }

          .state-approved {
            border-left-color: #03b453; // Verde - Aprobado
          }

          .state-pre-approved {
            border-left-color: #03b453; // Verde - Pre-Aprobado
          }

          .state-rejected {
            border-left-color: #ed0000; // Rojo - Rechazado
          }
        }
      }
    }
  }
}

.sectionApplicantDetail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;

  @media (min-width: $bp-tablet) {
    height: auto;
    margin-bottom: 0;
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;

    .title {
      width: 100%;
      height: auto;
      text-align: center;
      justify-items: center;
    }

    .dataApplicant {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .line {
        width: 100%;
        height: 1px;
        background-color: black;
      }

      .gridStyle {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
      }

      .grey {
        color: grey;
      }
    }

    .viewPhone {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .evidence {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.5rem;

        .images {
          width: 100%;

          @media (min-width: $bp-tablet) {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
          }

          .image {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            background-size: cover;
            background-position: center;
            @media (min-width: $bp-tablet) {
              background-color: #000;
            }
          }
        }
      }

      .reminder {
        width: 100%;
        height: auto;

        .p-card-footer {
          width: 100%;
          display: flex;
          gap: 0.75rem;

          .p-button {
            width: 100%;
          }
        }
      }

      .actions {
        width: 100%;
        height: auto;
        // margin-bottom: 5rem;
        display: flex;
        gap: 0.75rem;

        @media (min-width: $bp-tablet) {
          margin-bottom: 1.5rem;
        }

        .p-button {
          width: 100%;
        }
      }
    }

    .viewDesktop {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .evidence {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.5rem;

        .images {
          width: 100%;

          @media (min-width: $bp-tablet) {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
          }

          .image {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            background-size: cover;
            background-position: center;
            @media (min-width: $bp-tablet) {
              background-color: #000;
            }
          }
        }
      }

      .containerColumn {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 2.5rem;

        .reminder {
          width: 100%;
          height: auto;

          .p-card-footer {
            width: 100%;
            display: flex;
            gap: 0.75rem;

            .p-button {
              width: 100%;
            }
          }
        }

        .actions {
          width: 100%;
          height: auto;
          // margin-bottom: 5rem;
          display: flex;
          gap: 0.75rem;

          @media (min-width: $bp-tablet) {
            margin-bottom: 1.5rem;
          }

          .p-button {
            width: 100%;
          }
        }
      }
    }
  }
}

.sectionPreselectedApplicants {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 6rem;
  margin-bottom: 5rem;

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .title {
      width: 100%;
    }

    .containerApplicants {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 5rem;

      .cardApplicant {
        width: 100%;
        height: auto;
        border-left: solid 0.75rem var(--color-primary);
        padding: 0.5rem 0.75rem;
        cursor: pointer;

        .p-card-body {
          width: 100%;
          height: auto;
          padding: 0 !important;
          gap: 0 !important;
          position: relative;

          .p-card-caption {
            gap: 0rem;
          }

          .p-card-content {
            width: auto;
            height: 100%;
            align-content: center;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }

      // Estados de las solicitudes - colores del border-left

      // .state-pending {
      //   border-left-color: var(--color-principal); // Amarillo - Pendiente
      // }

      .state-approved {
        border-left-color: #03b453; // Verde - Aprobado
      }

      .state-pre-approved {
        border-left-color: #03b453; // Verde - Pre-Aprobado
      }

      .state-rejected {
        border-left-color: #ed0000; // Rojo - Rechazado
      }
    }
  }
}

.sectionPreselectedApplicantDetail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 5rem;

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;

    .title {
      width: 100%;
      height: auto;
      text-align: center;
      justify-items: center;
    }

    .dataApplicant {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .line {
        width: 100%;
        height: 1px;
        background-color: black;
      }

      .gridStyle {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
      }

      .grey {
        color: grey;
      }
    }

    .viewPhone {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .evidence {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.5rem;

        .images {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          @media (min-width: $bp-tablet) {
            flex-direction: row;
          }

          .image {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            background-color: #000;
            background-size: cover;
            background-position: center;

            @media (min-width: $bp-tablet) {
              width: 50%;
              height: auto;
              aspect-ratio: 1/1;
            }
          }
        }
      }

      .reminder {
        width: 100%;
        height: auto;
      }

      .actions {
        width: 100%;
        height: auto;
        display: flex;
        margin-bottom: 1rem;

        .p-button {
          width: 100%;
        }
      }
    }

    .viewDesktop {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-bottom: 2rem;

      .evidence {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.5rem;
        grid-row: span 2;

        .images {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          @media (min-width: $bp-tablet) {
            flex-direction: row;
          }

          .image {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            background-color: #000;
            background-size: cover;
            background-position: center;

            @media (min-width: $bp-tablet) {
              // width: 50%;
              height: auto;
              aspect-ratio: 1/1;
            }
          }
        }
      }

      .containerColumn {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 2.5rem;
        gap: 2rem;

        .reminder {
          width: 100%;
          height: auto;
        }

        .actions {
          width: 100%;
          height: auto;
          display: flex;
          margin-bottom: 1rem;

          .p-button {
            width: 100%;
          }
        }
      }
    }
  }
}

.sectionDogDetail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 6rem 0;

  @media (min-width: $bp-tablet) {
    margin: 8rem 0 3rem 0;
    height: auto;
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .viewPhone {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .containerPhoto {
        .photo {
          width: 100%;
          height: auto;
          aspect-ratio: 1/1;
          background-size: cover;
          background-position: center;

          .p-card-body {
            padding: 0.25rem !important;
            .buttonBack {
              width: 2rem;
              height: 2rem;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #000;
              border-radius: 8px;

              i {
                font-size: 1rem;
                color: var(--color-primary);
              }
            }
          }
        }
      }

      .cardData {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border: solid 1px black;

        .p-card-body {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 1.5rem !important;
          padding: 1rem !important;

          .p-card-content {
            display: flex;
            flex-direction: column;
            gap: 1.5rem !important;

            .standarContainer {
              width: 100%;
              height: auto;
              display: flex;
              flex-direction: column;
              gap: 0.75rem;

              .containerItems {
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;

                .item {
                  padding: 0.25rem 0.5rem;
                  background-color: var(--color-light-gray);
                  border: solid 1px black;
                  border-radius: 0.5rem;
                  font-size: 0.875rem;
                  width: auto;
                  height: auto;
                  display: flex;
                  justify-content: center;
                  align-self: center;
                  gap: 0.25rem;

                  i {
                    // width: 1.5rem;
                    // height: 1.5rem;
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }
        }
      }

      .actionsContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .p-button {
          width: 100%;
        }
      }
    }

    .viewDesktop {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 1.5rem;

      .containerPhoto {
        grid-row: span 3 / span 3;
        .photo {
          width: 100%;
          height: auto;
          aspect-ratio: 1/1;
          background-size: cover;
          background-position: center;

          .p-card-body {
            padding: 0.25rem !important;
            .buttonBack {
              width: 2rem;
              height: 2rem;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #000;
              border-radius: 8px;

              i {
                font-size: 1rem;
                color: var(--color-primary);
              }
            }
          }
        }
      }

      .cardData {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border: solid 1px black;
        grid-row: span 2 / span 2;

        .p-card-body {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 1.5rem !important;
          padding: 1rem !important;

          .p-card-content {
            display: flex;
            flex-direction: column;
            gap: 1.5rem !important;

            .standarContainer {
              width: 100%;
              height: auto;
              display: flex;
              flex-direction: column;
              gap: 0.75rem;

              .containerItems {
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;

                .item {
                  padding: 0.25rem 0.5rem;
                  background-color: var(--color-light-gray);
                  border: solid 1px black;
                  border-radius: 0.5rem;
                  font-size: 0.875rem;
                  width: auto;
                  height: auto;
                  display: flex;
                  justify-content: center;
                  align-self: center;
                  gap: 0.25rem;

                  i {
                    // width: 1.5rem;
                    // height: 1.5rem;
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }
        }
      }

      .actionsContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        grid-column-start: 2;
        grid-row-start: 3;

        .p-button {
          width: 100%;
        }
      }
    }
  }
}

.sectionAdoptionForm {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 6rem;

  @media (min-width: $bp-tablet) {
    margin: 8rem 0 3rem 0;
    width: 90%;
    height: auto;
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .containerTitle {
      .title {
        text-align: center;
      }
    }
    .containerSubtitle {
      text-align: center;
    }

    .containerForm {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      border: solid 1px black;
      padding: 1rem;
      border-radius: 0.5rem;

      .form {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .sameField {
          width: 100%;
          height: auto;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 0.5rem;
        }

        .field {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }

      .evidence {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        // .images {
        //   width: 100%;
        //   display: flex;
        //   flex-direction: row;
        //   gap: 0.5rem;

        //   .image {
        //     width: 100%;
        //     height: auto;
        //     aspect-ratio: 1/1;
        //     background-color: #000;
        //     background-size: cover;
        //     background-position: center;
        //   }
        // }
      }

      .permissions {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .standarContainer {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .title {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            gap: 1rem;
            color: #2185e2;
          }

          .toggleContainer {
            display: flex;
            align-items: center;
            gap: 0.75rem;
          }
        }
      }
    }

    .actions {
      width: 100%;
      height: auto;
      display: flex;
      gap: 0.75rem;
    }
  }
}

.sectionSponsorshipsPlans {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 6rem;

  @media (min-width: $bp-tablet) {
    margin: 8rem 0 3rem 0;
    width: 90%;
    height: auto;
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .title {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      position: relative;

      .buttonback {
        position: absolute;
        width: 2rem;
        height: 2rem;
        background-color: #000;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25rem;
        top: 0.75rem;

        i {
          font-size: 1rem;
          color: var(--color-primary);
        }
      }
    }

    .plansContainer {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      @media (min-width: $bp-mobile) and (max-width: $bp-tablet) {
        width: 80%;
      }

      @media (min-width: $bp-tablet) and (max-width: $bp-desktop) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: $bp-desktop) {
        flex-direction: row;
      }

      .cardPlan {
        border: solid 1px black;
        background-color: #e2e2e8;

        @media (min-width: $bp-tablet) {
          width: 100%;
        }

        .p-card-body {
          padding: 1rem !important;
          gap: 1rem !important;
        }
        .p-card-content {
          background-color: white;
          border: solid 1px black;
          border-radius: 8px;
          padding: 1rem;
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .price {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 0rem;
          }

          .line {
            width: 100%;
            height: 1px;
            // background-color: black;
            border: dashed 1px black;
          }

          .benefitsList {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            .item {
              width: 100%;
              height: auto;
              display: flex;
              align-items: start;
              gap: 0.75rem;
            }
          }
        }
      }
    }
  }
}

.sectionPaymentOptions {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 6rem;

  @media (min-width: $bp-tablet) {
    margin: 8rem 0 3rem 0;
    width: 100%;
    height: auto;
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: $bp-tablet) {
      align-items: center;
    }

    .title {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      position: relative;

      .buttonback {
        position: absolute;
        width: 2rem;
        height: 2rem;
        background-color: #000;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25rem;
        top: 0.75rem;

        i {
          font-size: 1rem;
          color: var(--color-primary);
        }
      }
    }

    .steps {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      ol {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
    }

    .paymentOptions {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media (min-width: $bp-tablet) {
        width: 50%;
      }

      .cardOption {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: solid 1px black;
        border-radius: 8px;
        padding: 1rem;
        text-align: center;

        .containerQR {
          width: 100%;
          height: auto;
          display: flex;
          gap: 1rem;

          @media (min-width: $bp-mobile) {
            padding: 0 4rem;
            gap: 4rem;
          }

          .qrCode {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            background-size: cover;
            background-position: center;

            img {
              width: 100%;
              height: auto;
              aspect-ratio: 1/1;
            }

            .logo {
              width: 40%;
              height: auto;
              aspect-ratio: 1/1;
            }
          }
        }
      }

      .cardOption2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        border: solid 1px black;
        border-radius: 8px;
        padding: 1rem;
        gap: 0.5rem;
        text-align: center;

        // @media (min-width: $bp-mobile) and (max-width: $bp-tablet) {
        //   gap: 3rem;
        // }

        @media (min-width: $bp-mobile) {
          gap: 3rem;
        }

        .containerLogo {
          width: auto;
          height: 100%;
          display: flex;
          flex-direction: column;

          .logo {
            width: 4rem;
            height: auto;
            aspect-ratio: 1/1;
            border: solid 1px black;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            background-color: #000;

            i {
              font-size: 2rem;
              color: var(--color-primary);
            }
          }
          .content {
            width: 100%;
            height: auto;
            display: flex;
            gap: 1rem;
          }
        }

        .content {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .title {
            text-align: start;
          }

          .details {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: auto;
            column-gap: 0.5rem;
            word-break: break-word;
            justify-items: start;
            align-content: start;
            text-align: start;

            .line {
              width: 100%;
              height: 1px;
              border: dashed 1px black;
              grid-column: span 2;
            }

            p {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}
